<mat-card>
  <mat-card-content>
    <mat-card-title class="title">Excluir produto</mat-card-title>
    <form>
      <mat-form-field>
        <input matInput placeholder="Nome" name="name" [value]="product.name" disabled="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Preço" name="price" [value]="product.price" disabled="">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="deleteProduct()" color="warn">
      Excluir
    </button>
    <button mat-raised-button (click)="cancel()">
      Cancelar
    </button>
  </mat-card-actions>
</mat-card>
