<mat-card>
  <mat-card-content>
    <mat-card-title class="title">Alterar produto</mat-card-title>
    <form>
      <mat-form-field>
        <input matInput placeholder="Nome" name="name" [(ngModel)]="product.name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Preço" name="price" [(ngModel)]="product.price">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="updateProduct()" color="accent">
      Alterar
    </button>
    <button mat-raised-button (click)="cancel()">
      Cancelar
    </button>
  </mat-card-actions>
</mat-card>
