/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
  color: #e35e6b;
}

.blue {
  color: #191970;
}

.v-middle {
  vertical-align: middle;
}

.msg-success {
    color: #fff;
   --mdc-snackbar-container-color: #25a745; /* altera cor do fundo da snack bar */
}

.msg-error {
    color: #fff;
   --mdc-snackbar-container-color: #a7253f; /* altera cor do fundo da snack bar */
}

